@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
header{
    background-color: #dc9e82;

}
body{
    background-color: #f2f3d9;
}
footer{
    background-color: #dc9e82;
}
p{
    font-size: 180%;
    font-family:Fira Sans;
}
h1{
    font-size:200%;
}
img {
    width: 40%;
    height: 40%;
    margin-top: 10%;
}
.flex{
    display: flex;
    justify-content: space-around;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.article-text{
    background-color: #030027;
    width : 40%;
    height: 40%;
    color: #f2f3d9;
    border-radius: 10%;
}
