@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

main{
    background-image: url(/background.png);
    background-attachment: fixed;
    padding-top: 4%;
    background-size:cover;
}
body{
    margin: 0%;
}
p{
    font-size: 180%;
    font-family:Fira Sans;
}
h1{
    font-size:200%;
}
.header{
    background-image: url(/header.png);
    padding-top: 7%;
    padding-bottom: 2%;
    background-size:cover;
}
.img-text{
    width : 30%;
    height: 30%;
    margin: 2%;
}
.zagolovok{
    font-size: 225%;
    text-align: center;
    font-family: Fira Sans;
    color: #ffffff; 
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left{
    text-align: left;
}
.article-text{
    background-color: #030027;
    width : 40%;
    height: 40%;
    color: #f2f3d9;
    border-radius: 10%;
    text-align: center;
    padding: 1%;
}
.text-logo-center{
    font-size: 20em;
    margin: 5%;
    text-align: center;
}
.text-logo-center-paskal{
    font-size: 15em;
}
.text-article-center{
    display: flex;
    align-content: center;
    justify-content: space-around;
    width : 40%;
    height: 40%;
    color: #000000;
    border-radius: 10%;
}

#mobile{
    display: none;
}

@media all and (max-width:600px) {
    .flex{
        display: flex;
        flex-direction: column;
    }
    .article-text{
        width : 100%;
        height: 100%;
    }
    .text-logo-center{
        font-size: 10em;
        margin: 5%;
    }
    .text-logo-center-paskal{
        font-size: 7em;
        margin: 15%;
    }
    .text-article-center{
        width : 100%;
        height: 100%;
    }
    .img-text{
        width : 100%;
        height: 100%;

    }
    #pc{
        display: none;
    }
    #mobile{
        display: block;
    }
    header{
        font-size: 100%;
        border-radius: 10%;
        padding:5%;
        margin: 5%;
    }
    }

@media all and (min-width:650px) and (max-width:1024px) {
    .img-text{
        width: 50%;
        height: 50%;
    }
    .text-logo-center-paskal{
        font-size: 10em;
    }
    .text-logo-center{
        font-size: 15em;
    }
    }
